#root {
  min-height: 100vh;
  border-radius: 1.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

body {
  background-color: black;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #fce2ed;
}
.separator::before {
  margin-right: 1em;
}
.separator::after {
  margin-left: 1em;
}
