#root {
  min-height: 100vh;
  border-radius: 1.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

body {
  background-color: black;
}

.firebaseui-container {
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  max-width: 250px !important;
  min-height: 150px;
  padding-top: 10px;
  border-radius: 20px;
  box-shadow: none;
}

.firebaseui-container .firebaseui-card-content {
  padding: 0px;
  width: 100%;
}
.firebaseui-container .firebaseui-idp-button {
  max-width: unset;
  min-height: 50px;
}
.firebaseui-container .firebaseui-idp-button .firebaseui-idp-text {
  font-size: 1.2em;
}

.firebaseui-container.firebaseui-page-provider-sign-in {
  background: transparent;
  box-shadow: none;
  min-height: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.firebaseui-container.firebaseui-id-page-callback {
  background: transparent;
  box-shadow: none;
  margin-top: 40px;
  height: 84px;
  min-height: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.firebaseui-card-header {
  display: none;
}

.firebaseui-subtitle,
.firebaseui-text {
  color: rgba(255, 255, 255, 0.87);
}

.firebaseui-form-actions .mdl-button--raised.mdl-button--colored.firebaseui-button {
  background: rgba(0, 0, 0, 0.1);
}

.firebaseui-id-dismiss-info-bar {
  display: block;
}

.firebaseui-info-bar {
  background-color: white !important;
  border: 0 !important;
  border-radius: 10px;
}
